.tbl {
    width: 300px;
    border-collapse: collapse;
}
.tbl th, .tbl td {
    padding: 3px;
    border: 1px solid black;
}
.tbl th {
    background: #b0e0e6;
}
.ag-result {
    margin-left: 100px;
}
.back {

}
#first-block {
    padding-top: 50px;
}
#second-block {
    padding-top: 50px;
}
#third-block {
    padding-top: 50px;
}
#fourth-block{
    padding-top: 50px;
}
footer {
    margin-top: 100px;
}